.header{
  text-align: center;
}

img{
  max-width: 50%;
  text-align: center;
  margin-bottom: 30px;
}
.summary{
  text-align: justify;
}
.single-newsletter{
  max-width: 50%;
  margin: 30px auto auto;
  text-align: center;
}
